body {
  background-color: black;
}

h1 {
  color: rgba(255, 0, 0, 0.596);
  padding-bottom: 32px;
  text-align: center;
}

li {
  color: white;
}
p {
  color: white;
}
.className {
  color: white;
}
.name {
  font-weight: 300;
  font: bold;
}

.drink {
  transition: all 0.25s ease-in;
}

.drink:hover {
  cursor: pointer;
  color: yellow;
}

.table {
  color: white;
}
h3{
  color: white;
  font-variant: small-caps;
}

.wheel {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 64px;
}
.getDrink{
  margin-bottom: 32px;
}